body {
	margin:0;
	padding: 0;
  background: url(../images/background.jpg)
}
header {
  margin: 0;
  background-color: #3a3a3a;
  max-height: 100px;
  max-width: 960px;
  margin: auto;
}
h1 {
  display: inline-block;
  margin: auto;
  margin-left: 240px;
  color: #fff;
}
.logo {
  max-height: 90px;
  display: inline-block;
}
#instructions {
  display: inline-block;
  margin:auto;
  margin-left: 100px;
}

.container {
  background-color: #3a3a3a;
  max-width: 960px;
  margin:auto;
}

.randomNumber {
  display: inline-block;
  min-width: 49%;
  text-align: center;
  height: 200px;
}

.yourNumber {
  display: inline-block;
  min-width: 49%;
  text-align: center;
  height: 200px;
}
.buttonsContainer {
  text-align: center;
}
.buttons {
  width: 100px;
	height: 100px;
	border: none;
}

#button1, #button2, #button3, #button4 {
	height: 100px;
	width: 100px;
}
